* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* 标签元素 */

a {
    color: #000;
    text-decoration: none;
}

ul {
    list-style: none;
}

header {
    position: relative;
    --head_h: 40px;
    height: var(--head_h);
    text-align: center;
    line-height: var(--head_h);
    font-weight: bold;
    border-bottom: 0.5px solid #e5e5e5;
}


/* id */

#main {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #ededed;
    margin: 0 auto;
    overflow: hidden;
}


/* 全局宽限制 */

.gloabal_wide_limit {
    max-width: 1024px;
    min-width: 380px;
}


/* 清除浮动 */

.clear_float::after,
.clear_float::before {
    content: "";
    display: table;
}

.clear_float::after {
    clear: both;
}