<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/public.css">
    <link rel="stylesheet" href="../static/css/base1.css">
    <script src="../static/js/jquery-3.6.0.min.js"></script>
</head>

<body>
    <div id="main" class="gloabal_wide_limit">
        <!-- 头部 -->
        <header>
            <!-- 返回上级 -->
            <a href=""></a>
            <h1><a href="#">语聊小世界<span>(123)</span></a></h1>
        </header>
        <!-- 聊天内容区 -->
        <div id="ChatContentBox">
            <ul id="ChatContentList">
                <li class="other_people clear_float">
                    <div class="avater"><img src="" alt="其他人"></div>
                    <ul>
                        <li>昵称</li>
                        <li>阿巴把把</li>
                    </ul>
                </li>
                <li class="self clear_float ">
                    <div class="avater"><img src="" alt="自己"></div>
                    <ul>
                        <!-- <li>昵称</li> -->
                        <li class="self_words send_error">阿巴把把</li>
                    </ul>
                </li>
                <li class="self clear_float">
                    <div class="avater"><img src="" alt="自己"></div>
                    <ul>
                        <!-- <li>昵称</li> -->
                        <li class="self_words">阿巴把把aaaa阿巴把把aaaa阿巴把把aaaa阿巴把把aaaa阿巴把把aaaa阿巴把把aaaa阿巴阿巴把把aaaa阿巴把把aaaa把把aaaa阿巴把把aaaa</li>
                    </ul>
                </li>
                <li class="other_people clear_float">
                    <div class="avater"><img src="" alt="其他人"></div>
                    <ul>
                        <li>昵称</li>
                        <li class="others_words">阿巴把把阿巴把把阿巴把把阿巴把把阿巴把把阿巴把把阿巴把把阿巴把把阿巴把把阿巴把把阿巴把把阿巴把把阿巴把把阿巴把把阿巴把把阿巴把把阿巴把把阿巴把把阿巴把把阿巴把把阿巴把把阿巴把把阿巴把把阿巴把把阿巴把把阿巴把把阿巴把把阿巴把把阿巴把把阿巴把把阿巴把把阿巴把把阿巴把把</li>
                    </ul>
                </li>

            </ul>
            <div id="test"></div>
        </div>
        <!-- 底部对话输入框 -->
        <div id="DialogInputBox" class="gloabal_wide_limit">
            <ul id="InputModuleList">
                <li id="InputModuleBox">
                    <textarea id="InputModule" rows="1" maxlength="100"></textarea>
                </li>
                <li id="SendModuleBox">
                    <button id="SendModule">发送</button>
                </li>
            </ul>
        </div>
    </div>

</body>
<script>
    document.getElementById("main").style.height = window.innerHeight - 1 + "px";
    document.getElementById("SendModule").style.backgroundColor = "#ff0303";
</script>
<script src="../static/js/base1.js"></script>

</html>